/*#index {
    background-image: url(../img/home-hero.jpg);
    background-size: cover;
    font-family: 'Work Sans', sans-serif;
    text-align: center; 
}

#index main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
}

#index main h1 {
    color: #FFFFFF;
    font-size: 8em;
    margin-bottom: 10px;
}

#index main p {
    color: #FFFFFF;
    font-size: 2em;
    margin-bottom: 1em;
}

#index nav ul {
    list-style: none; 
    padding: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#index nav li {
    margin: 0 15px; 
}

#index nav a {
    text-decoration: none; 
    color: #FFFFFF; 
    font-weight: 700; 
}

#index footer {
    padding: 20px; 
    text-align: center; 
    position: fixed;
    bottom: 0; 
    width: 100%; 
    color: #FFFFFF;
}

#index footer a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700; 
}
*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

body {
    width: 100%;
    overflow: hidden;
}

#index > header {
    background-color: unset;
    margin-bottom: 15%;
}

#index {
    background-image: url(../img/home-hero.jpg);
    text-align: center;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

main {
    margin: auto;
    width: 50vw;
    max-width: 45vw;
    font-size: 0.9rem;
    line-height: 1.3rem;
}

nav > ul {
    list-style: none;
    padding: 0px;
    margin: 1vw;
    margin-top: 3vw;
    display: inline-flex;
    font-size: 1rem;
    font-weight: bold;
}

nav > ul > li {
    margin: 0.5rem;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #6BDEC8;
}

#index> main> img {
    width: 4.4vw;
    margin-top: 30vh;
}

#index > main > h1 {
    font-size: 8.2vw;
    margin-top: 3.5vw;
    letter-spacing: -0.5vw;
}

#index > main > h4 {
    font-size: 3vw;
    margin-top: 5vw;
    letter-spacing: 0.5vw;
}

footer, main > h1, main > h4 {
    color: #FFFFFF;
}

#footind > nav > ul > li {
    font-size: 1.5vw;
}

#footind {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 0.9vw;
    margin-bottom: 2vw;
}



body > header {
    background-color: black;
    width: 100%;
    text-align: center;
    padding-top: 2vh;
}


#ceramica >header >h1 > a::before {
    content: url(../img/favicon-32x32.png) " ";
}
.peu{
    background-color: black;
}
article > footer { 
    color: black;
    font-size: small;
}
.enlace{
    color: black;
}
